<!-- Баннеры  -->
	<div id="adv">
		<a href="/services/erection/" id="adv3">возведение железобетонных конструкций</a>
		<a href="/services/montage/" id="adv2">монтаж металлоконструкций</a>
		<a href="/services/production/" id="adv1">аренда техники и опалубки</a>
	</div>
	<!-- /Баннеры  -->

	<div id="middle">

		<!-- Контент  -->
		<div id="container">
			<div id="content">

				<? ShowErrorMessage(); ?>

				<div class="headline"><span>Новости</span></div>

				<!-- Новости -->
				<div id="news">

				<? GenerateListOfSomeThing("news"); ?>

					<div id="all-news"><a href="/news/">Все новости</a></div>

				</div>
				<!-- /Новости -->

			</div>
		</div>
		<!-- /Контент  -->

		<!-- Правая колонка  -->
		<div id="sidebar">

			<div class="headline"><span>О компании</span></div>

			<div id="about">
				<p>Компания ООО «Металл» работает на рынке по продаже металлоконструкций уже 12 лет.</p>
				<p>Основным направлением деятельности является рассчёт, поставка и установка металлоконструкций для строительной промышленности.</p>
				<p>На сегодняшний день ООО «Металл» является крупнейшей трейдинговой компанией национального рынка металлоконструкций.</p>
				<div id="more-about"><a href="/about/">Подробнее о компании</a></div>
			</div>

		</div>
		<!-- /Правая колонка  -->

	</div>